.Contact {
  width: 100%;
  background: #25262a;
  padding: 100px;
}

.Contact__container {
  display: flex;
  justify-content: space-between;
}

.contact__left__desc {
  font-size: 35px;
}

.contact__left__connect {
  font-size: 35px;
  padding-top: 50px;
}

.contact__left__connect > span {
  color: #64f4ae;
  border-bottom: 2px solid #64f4ae;
}

.contact__right__title {
  margin-top: 20px;
  font-size: 20px;
  color: #9797a1;
  padding-bottom: 30px;
}

.contact__right__address {
  color: #9797a1;
  font-size: 30px;
}
.contact__right__email {
  font-size: 30px;
  padding: 20px 0px 40px 0px;
}

.contact__right__ul {
  list-style: none;
}

.contact__right__links {
  margin-bottom: 20px;
  cursor: pointer;
}

.contact__right__links > a {
  text-decoration: none;
}

.contact__right__links > a:hover {
  color: #64f4ae;
}

.contact__right__links:hover {
  color: #64f4ae;
}

@media (max-width: 1024px) {
  .Contact {
    padding: 100px 30px;
  }
}

@media (max-width: 460px) {
  .Contact {
    padding: 50px 20px;
  }
  .Contact__container {
    flex-direction: column;
  }
  .contact__left__connect {
    font-size: 30px;
  }
  .contact__right__address {
    font-size: 20px;
  }
  .contact__right__email {
    font-size: 15px;
    padding: 20px 0px 40px 0px;
  }
}
