.About {
  width: 100%;
  background: #25262a;
  padding: 150px;
  display: flex;
  gap: 5rem;
}

.about__left {
  width: 50%;
}
.about__cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about__card {
  padding: 50px 70px;
  border-radius: 10px;
  background-color: #2d2e31;
  filter: drop-shadow(10px 0 20px black);
}
.about__card:hover {
  filter: drop-shadow(0 0 2px black);
}

.about__card:hover .card__title {
  color: #63f0a9;
}
.card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-size: 35px;
}

.card__icon {
  width: 40px;
}

.card__desc {
  color: #9797a1;
  padding: 10px 0px 30px 0px;
}

.card__links {
  text-transform: uppercase;
}

.about__right {
  width: 50%;
}

.about__subtitle {
  color: #9797a1;
  font-size: 22px;
}

.about__title {
  font-size: 60px;
  padding: 50px 0px;
}

.about__info {
  font-style: italic;
  font-size: 30px;
  padding-bottom: 30px;
}

.about__desc {
  color: #9797a1;
  font-size: 22px;
  line-height: 35px;
  height: 400px;
  overflow: scroll;
}
.about__desc::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .About {
    height: unset;
    padding: 100px 40px;
  }
  .about__title {
    font-size: 40px;
  }
  .about__info {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .about__desc {
    font-size: 18px;
    font-synthesis: 30px;
  }
  .about__card {
    padding: 30px 50px;
  }
}

@media (max-width: 768px) {
  .About {
    gap: 3rem;
  }
}

@media (max-width: 460px) {
  .About {
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 100px 20px;
  }
  .about__right {
    width: unset;
  }
  .about__left {
    width: unset;
  }
  .about__cards {
    overflow: scroll;
    flex-direction: row;
    padding: 30px 40px;
  }
  .about__cards::-webkit-scrollbar {
    display: none;
  }
  .about__card {
    padding: 30px;
  }
  .card__top {
    width: 250px;
  }
}
